{{- if (and .Site.Params.comments (ne .Params.comments false)) -}}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@waline/client@v3/dist/waline.css" />
<div id="waline"></div>
<script defer src="https://cdn.jsdelivr.net/npm/@waline/client@v3/dist/waline.js"></script>
<script>
  window.addEventListener('load', function () {
    if (window.Waline) {
      window.Waline.init({
        el: '#waline',
        serverURL: 'https://comments.v2er.org',
        lang: 'zh-CN',
        pageview: true,
        comment: true
      });
    }
  });
</script>
{{- end -}}
